{ 
  "accessKeyId": "", //AWS Access Key 
  "secretAccessKey": ""  //AWS Secrete Key,
  "api_key_secret": "", //Glia Key Secret
  "api_key_id": "", //Glia Key ID
  "site_id": "",
  "knowledge_base": "", //ID of the knowledge base
  "modelId": "anthropic.claude-v2" //Name of the model to be used
}
